<ActionBar title="Details" class="action-bar">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>
<StackLayout class="p-20">
    <ActivityIndicator [busy]="isLoading" width="50" height="50" [visibility]="isLoading ? 'visible' : 'collapse'" color="red"></ActivityIndicator>
    <ListView [items]="detailItems">
    <template let-item="item">
        <StackLayout>
            <Label [text]='" Id " + item.id'></Label>
            <Label [text]='" TITLE " + item.title'></Label>
            <Label [text]='"  Body " + item.body'></Label>
        </StackLayout>
    </template>
</ListView>
</StackLayout>